.header {
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin: 0;
}

.web-name {
    font-size: 1.5em;
    margin-left: 10px;
    color: #331d12;
}

.navbar {
    display: flex;
    gap: 20px;
}
  
.nav-link {
    text-decoration: none;
    color: #555;
    font-size: .9rem;
}
  
.nav-link.active {
    color: #331d12;
    font-weight: bold;
    border-bottom: 2px solid #331d12;
}

.bottom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #331d12;
    color: #f2f2f2;
}

.ad-banner-text {
    font-size: .9rem;
    margin: 5px;
}

/* media query */

/* tablets and ipads */

@media (max-width: 768px) {
    .web-name {
        font-size: 1rem;
    }

    .logo {
        width: 40px;
    }

    .nav-link {
        font-size: .7rem;
    }

    .ad-banner-text {
        font-size:.7rem;
    }
}

/* mobile devices */

@media (max-width: 480px) {
    .web-name {
        display: none;
    }

    .logo {
        width: 30px;
        margin: 5px 0;
    }

    .nav-link {
        font-size: .6rem;
    }

    .ad-banner-text {
        font-size:.6rem;
    }
}